@media screen and (max-width:480px ){
   
   .cabeçario{
       flex-direction: column;
       width: 100%;
       text-align: center;
     
   }
   .cabeçario__nome{
       font-size: 2rem;
   }
   .cabeçario__link{
       font-size: 1.5rem;
   }
   .cabeçario__item{
       margin-top: 15px;
   }
    .cabeçario__lista{
     flex-wrap: wrap;
     align-content: center;
     justify-content: center;
    }
    .apresentação{
        width: 100%;
        flex-direction: column;
    }
    .apresentação__item{
        width: 100%;
    
    }
    .apresentação__redesocias-link{
        font-size: 20px;
    }
    .apresentação__titulo{
        font-size:2rem ;
        text-align: center;
        text-justify:distribute;
    }
    .box{
        display: flex;
        justify-content: center;
    }
    .caixa__imagem{
        border-radius: 50%;
        overflow: hidden;
        height: 200px;
        width:200px;
        background: white;
      
    }
    .apresentação__imagem--mod{
     width: 100%;
    background-size: 100%;
    background-position:top;
    }
    .apresentação__lista-redesocias{
        flex-wrap: wrap;
        justify-content: center;
    }
    .sobremin__titulo{
        margin-left: 0;
    }
    .sobremin__paragrafos{
        width: 100%;
        margin: 8px;
    }
    .sobremin__imagem-cursiva{
        display: none;
    }

    .skills__lista,.hobbies__lista{
        margin-top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
        
    }
    .skills__item,.hobbies__item{
        width: 50%;
        margin-bottom: 12px;
    }
    .formaçao__lista{
        flex-direction: column;
        align-items: center;
    }
    .formaçao__item{
        margin-top: 25px;
    }
    .skills__item , .hobbies__item{

        align-items: center;
    }
    .skills__imagem,.hobbies__imagens{
        width: 30%;
    }
    .experiencia__item{
        margin-top: 25px;
        flex-direction: column;
        align-items: center;
    }
    .experiencia__imagen-jogo{
        width: 100%;
        
    }
    .order1{
        margin-top: 18px;
        order: 2;
      
    }
    .order2{
        margin: 18px;
    order: 1;
    }
    .formulario__conteudo{
       justify-content: center;
    }
    .formulario__titulo{
        text-align: center;
    }
    .formulario__imagen{
        display: none;
    }
    .formulario__conteudo-box{
        width: 100%;
        
    }
    .formulario__campo{
        width: 300px
    }
    .formulario__divisao{
        width: 100%;
        text-align: center;
    }
  

}