@import url('https://fonts.googleapis.com/css2? family= Glass+Antiqua & display=swap');
h2{
    font-family: Glass Antiqua, cursive;
    color: #355586;
   
}
li{
    font-family: Glass Antiqua, cursive;
}

.cabeçario{
    align-items: center;
    background-color: #f5f5f5 ;
    display: flex;
    justify-content: space-around;
    padding: 2.2rem 0 2.2rem 0;
}
.cabeçario__nome{
    font-weight: bold;
    font: swap;
    font-size: 19px;
}
.cabeçario__nome::before{
    content: "✰";
    margin: 5px;
    color: #0e0e0e;
}
.cabeçario__lista{
    display: flex;
    list-style: none;
}
.cabeçario__link{
    color: #525252;
    text-decoration: none;
    margin: 0 .75rem 0 .75rem;
}
.cabeçario__link--mod{
    color: black;
    font-weight: bold;
    stroke: black;
}
.cabeçario__link:hover{
    transition: 500ms;
    font-size: 22px;
    border: 2px blue;
    background-color: #355595;
    color: white;
    padding: 5px;
    text-decoration: overline;
    
}

.apresentação{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 2.2rem 0 2.2rem 0;
}
.apresentação__item{
    width: 60%;
    
}
.apresentação__titulo{
    font-size: 3rem;
    font-weight:bold;
}
.apresentação__paragrafo{
    font-size: 1.288rem;
    margin-top: 1.75rem;
}
.apresentação__imagem--mod{
    background: url("./imagens/perfil.png.jpg") no-repeat center;
    background-size: 250px 250px ;
    width: 250px;
    height: 250px;
    border-radius: 80%;
    object-fit: contain;
}
.apresentação__lista-redesocias{
    display: flex;
    margin-top: 1rem;
}
.apresentação__redesocias-link{
    margin-right: 1rem;
    text-decoration: none;
    color: #525252;
    align-items: center;
}
.apresentação__redesocias-link::after{
content: url(./imagens/flecha.png);
}
.Sobremin{
    background-color:#eaf2fd;
    padding: 2.2rem 0 2.2rem 0;
}
.sobremin__titulo{
    font-size: 2.1rem;
    font-weight: bold;
    margin-left: 20vh;
    margin-bottom: 1rem;
}
.sobremin__paragrafos{
  width: 55%;
  margin-left: 20vh;
 
}
.sobremin__conteudo{
    margin-bottom: .75em;
}
.skills,.hobbies{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;

}
.skills__titulo , .hobbies__titulo{
    font-size: 2rem;
    font-weight: bold;
    text-align:center;
    padding-top: 2rem;
}
.skills__lista,.hobbies__lista{
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    padding-bottom:7rem;
   
    
}
.skills__item,.hobbies__item{
    background-color: #ffff;
    height: 20vh;
    width: 10vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;   
    margin-left: 25px;
}
.skills__imagem,.hobbies__imagens{
  width: 20px;
}
.skills__conteudo,.hobbies__conteudo{
    padding-top: 12px;
}
.formaçao{
background-color: #eaf2fd;
padding-top: 60px ;
padding-bottom: 60px ;
}
.formaçao__titulo{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

    padding-bottom: 30px;
}
.formaçao__lista{
    display: flex;
    justify-content: space-evenly;
}
.formaçao__item{
    margin-left: 1%;
}
.formaçao__imagen{
width: 250px;
height: 250px;
background-size: 200px auto;
background-repeat: no-repeat;
background-position: center;
background-color: white;

}

.formaçao__imagen-ufpr{
    background-image: url(./imagens/programacao.svg);
     
}
.formaçao__imagen-alura{
    background-image: url(./imagens/alura.png);
    background-color: #355595;
 
}
.formaçao__imagen-ufrj{
    background-image: url(https://www.alura.com.br/assets/api/formacoes/categorias/branco/front-end.svg);

}
.formaçao__subtitulo{
    font-size: 1.25rem;
    font-weight: bolder;
    margin-top: 10px;
}
.experiencia{
background-color: #f5f5f5;
padding-top: 30px;
padding-bottom: 14px;
}
.experiencia__titulo{
    text-align: center;
    font-size: 1.75rem;
    font-weight: bolder;
    padding-bottom: 20px;
}
.experiencia__lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.experiencia__item{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;
}
.experiencia__imagen{
    margin-right: 14px;
    border: 1px solid ;
}
.experiencia__imagen-jogo{
width: 800px;
}
.experiencia__subtitulo{
    font-size: 1.458rem;
    font-weight: bolder; 
    width: 300px;
    margin-bottom: 10px;
}
.experiencia__botao{
    margin-top: 14px;
}
.experiencia__demo{
    background-color: blue;
    color: white;
    padding: 10px;
    width: 9rem;
    border: none;
    cursor: pointer;
}
.experiencia__demo:hover{
    font-size: 19px;
    background: green;
    text-decoration: solid;
    transition-duration: 2000ms;
    color: black;
}



.experiencia__repositorio{
  
    color: blue;
    padding: 10px;
    width: 9rem;
    border: 1px solid blue;
    cursor: pointer;
}
.experiencia__repositorio:hover{
background-color: #355586;
color: white;
transition: 2000ms;
font-size: 19px;
}
.formulario{
    background-color: #eaf2fd;
    padding-top: 100px;
    padding-bottom: 50px;
   
}

.formulario__conteudo{
    display: flex;
    justify-content: center;
    height: 500px;
}
.formulario__conteudo-box{
width: 60%;
margin-left: 2%;
display: flex;
flex-direction: column;
justify-content: space-around;

}
.formulario__titulo{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.formulario__imagen{
    background-image: url(./imagens/imagem-telefone.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    width: 250px;
}
.formulario__divisao{
    position: relative;
    height: 3rem;
    
}
.formulario__caixa-box{
    position: relative;
}
.formulario__label{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.formulario__campo:focus + .formulario__label{
    top: 0;
    padding-bottom: 12px;
	transition: 0.2s;

}
.formulario__campo::placeholder{
    color: transparent;
}
.formulario__campo{

    width: 67%;
    height: 3rem;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    caret-color: red;
    place-content: center;
   

}
.formulario__campo:focus{
    box-shadow: 0 2px 0 0;
    outline: 0;
    color: blue;
}

.formulario__botao{
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    caret-color: red;
}
.rodape{
    padding: 45px;
}
.rodape__titulo{
    text-align: center;
    font-size: 1.5rem;
}
.rodape__paragrafo{
    text-align: center;
    font-size: 1.2rem;
}